.board-navbar {
    width: 100%;
}

.board-header {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user {
    display: flex;
    align-items: center;
}

.user-icon {
    color: grey;
    font-size: 2.5rem;
    margin-right: 10px;
}
.project-name {
    font-size: 40px;
    font-weight: 600;
    color: rgb(73 73 73);
}
